@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">               
                <img src="~/Images/image.jfif" class="card-img-top">
                <div class="card-header"> Toplam Kategori Sayısı </div>
                <div class="card-body">
                    <h5 class="card-title"><b> @ViewBag.result1 </b></h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <img src="~/Images/image.jfif" class="card-img-top">
                <div class="card-header"> Yazılım Kategorisine Ait Başlık Sayısı </div>
                <div class="card-body">
                    <h5 class="card-title"><b> @ViewBag.result2 </b></h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <img src="~/Images/image.jfif" class="card-img-top">
                <div class="card-header"> İsminde "a" Harfi Olan Yazar Sayısı </div>
                <div class="card-body">
                    <h5 class="card-title"><b> @ViewBag.result3 </b></h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <img src="~/Images/image.jfif" class="card-img-top">
                <div class="card-header"> En Fazla Başlığa Sahip Kategori </div>
                <div class="card-body">
                    <h5 class="card-title"><b> @ViewBag.result4 </b></h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <img src="~/Images/image.jfif" class="card-img-top">
                <div class="card-header"> True - False Farkı </div>
                <div class="card-body">
                    <h5 class="card-title"><b> @ViewBag.result5 </b></h5>
                </div>
            </div>
        </div>
    </div>
</div>





